/* td {
    text-align: center;
  } */

  /* table {
    width: 50%;
    margin: auto;
  }
  
  
  
  tbody td:not(td:first-of-type):hover {
    transform: scale(1.00);
    opacity: 0.9;
  }
  
  tbody tr:nth-child(even) {
    background: #f4eafd;
  }
  a {
    text-decoration: none;
    color: #4442a5;
  } */