.nav-bar {
    background: rgb(60, 243, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 2px 2px 4px grey;
    margin-bottom: 1em;
  }
  .link {
    color: white;
    text-decoration: none;
  }