.Budgets {
    background: rgba(0,0,0);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
  }
  
  
  table {
      width: 50%;
      margin: auto;
  
    }
    
    td {
      text-align: center;
      color: white;
    }
    th {
      color: white;
    }
  
    h2 {
      color: white;
      margin-left: 10px;
    }
  
    a {
      text-decoration: none;
      
      color: white;
    }