.Edit-Budget {
    text-align: center;
    height: 70vh;
    background-color: #ffbe0b;
  
}

.Edit-Budget form select {
    margin: 7px;
    padding: 5px;
    width: 200px;
    
}
input[type="submit"] {
    padding: 15px;
    margin: 17px;
    background-color: black;
    color: white;

}
